.git
.gitignore
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/


*.log

db/*.db
db/*.sqlite

!db/suggestions.json

tests/
